<html>
  <head>
    <title>Meadowlark Travel</title>
    {{#if showTests}}
<<<<<<< HEAD
      <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    <script src="/vendor/jquery-3.3.1.min.js"></script>
=======
      <link rel="stylesheet" href="/vendor/mocha.css" />
    {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
>>>>>>> f958357d45d93910483cf5ba06e1b1280c814436
  </head>
  <body>
    <div>
      <header>
        <img src="/img/vue.png" alt="Nairobi Travels Logo" height="400px" width="550px"/>
      </header>
    </div>
    {{{ body}}}
<<<<<<< HEAD
=======

>>>>>>> f958357d45d93910483cf5ba06e1b1280c814436
    {{#if showTests}}
      <div id="mocha"></div>
      <script src="/vendor/mocha.js"></script>
      <script src="/vendor/chai.js"></script>
      <script>
<<<<<<< HEAD
        mocha.ui('tdd')
        var assert = chai.assert;
      </script>

=======
        mocha.ui('tdd');
        var assert = chai.assert;
      </script>
>>>>>>> f958357d45d93910483cf5ba06e1b1280c814436
      <script src="/qa/tests-global.js"></script>
      {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
      {{/if}}
      <script>mocha.run();</script>
    {{/if}}
  </body>
</html>
