<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <div>
      <header>
        <img src="/img/vue.png" alt="Nairobi Travels Logo" height="400px" width="550px"/>
      </header>
    </div>
    {{{ body}}}
  </body>
</html>